<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Menu - Don Julio Cevichería</title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Sriracha&display=swap" rel="stylesheet">
</head>
<body>
   <div id="header-container"></div>

   <main class="main-content">
         <div class="container">
            <h2 class="section-title"></h2>
            <p>Nombre: Cevichería Don Julio
               Especialidad: Comida marina y ceviches tradicionales
               Ubicación: (Añade aquí la dirección específica)
               Horario de Atención:
               
               Lunes a Viernes: 12:00 p.m. - 8:00 p.m.
               Sábados y Domingos: 11:00 a.m. - 9:00 p.m.
               Servicios:
               
               Atención en salón
               Pedidos para llevar
               Servicio de delivery
               Contacto:
               
               Teléfono: (Número de contacto)
               Correo electrónico: (Correo de contacto, si aplica)
               Redes Sociales: (Enlace a sus redes sociales o página web)
               Descripción:
               La Cevichería Don Julio es el lugar ideal para disfrutar de la auténtica sazón marina peruana. Nuestra carta ofrece desde clásicos como el ceviche y el arroz con mariscos, hasta innovadoras combinaciones que fusionan tradición con modernidad. Ven y vive una experiencia culinaria que resalta lo mejor de nuestra costa. ¡Te esperamos con los brazos abiertos y el sabor del mar en cada plato!</p>
   </div>
   </main>

   <div id="footer-container">
   </div>
   
   <script src="../js/script.js"></script>
</body>
</html>