<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Menu - Don Julio Cevichería</title>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Sriracha&display=swap"
      rel="stylesheet">
</head>

<body>
   <div id="header-container"></div>

   <main class="main-content">
      <div class="container">
         <h2 class="section-title">Información</h2>
         <div class="information-content">
            <p>
               La Cevichería Don Julio es el lugar ideal para disfrutar de la auténtica sazón marina peruana. Nuestra
               carta ofrece desde clásicos como el ceviche y el arroz con mariscos, hasta innovadoras combinaciones que fusionan tradición con modernidad. Ven y vive una experiencia culinaria que resalta lo mejor de nuestra costa. ¡Te esperamos con los brazos abiertos y el sabor del mar en cada plato!
            </p>
            <h2>Ubicación</h2>
            <p>Av. Principal 123, Lima, Perú</p>
            <h2>Horarios</h2>
            <p>Lunes a Viernes de 11:00 a 22:00</p>
            <p>Sábados y Domingos de 11:00 a 23:00</p>
         </div>
      </div>
   </main>

   <div id="footer-container">
   </div>

   <script src="../js/script.js"></script>
</body>

</html>